<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="static/style.css" type="text/css">
</head>
<body>
<form class="form">

    <h1 class="label_name">Login</h1>

    <div>
        <input class="input" name="username" placeholder="Username">
    </div>
    <div>
        <input class="input" name="password" placeholder="Password">
    </div>

    <button class="floating-button">Sing in</button>
    <br>
    <a class="href_for_login">Don't have an account?</a>

</form>
</body>
</html>